# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env
node_modules
Keys/


# Optional npm cache directory
.npm

# Build output
dist/
build/

# IDE files
.idea/
*.vscode/
node_modules

